@model Manager.Models.Room

@{
    var i = 1;
    var j = 1;
    var students = ViewBag.listStudent as List<Student>;
    var equipments = ViewBag.listEquipment as List<Equipment>;
    var equipments_add = ViewBag.listEquipment_Add as List<Equipment>;
}

<div class="container-fluid position-relative d-flex p-0">
    <div class="col m-5">
        <div class="card bg-light rounded h-100 p-4">
            <form asp-action="ChangeRoomInformation" asp-controller="User">
                <div class="row g-5">
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Mã phòng</label>
                            <input asp-for="@Model.RoomID" class="form-control" value="@Model.RoomID" readonly>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Tên phòng</label>
                            <input asp-for="@Model.RoomName" class="form-control" value="@Model.RoomName">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Tòa nhà</label>
                            <input class="form-control" value="@Model.BuildingName" readonly>
                        </div>
                    </div>
                </div>
                <div class="row g-5">
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Số sinh viên</label>
                            <input class="form-control" value="@Model.NumberOfStudent/@Model.Capacity" readonly>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        @await Component.InvokeAsync("RoomStatusSelectList", Model)
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Ghi chú</label>
                            <input asp-for="@Model.RoomNote" class="form-control" value="@Model.RoomNote">
                        </div>
                    </div>
                </div>
                <div class="row g-5 w-100">
                    <p class="fw-bold p-4">Danh sách sinh viên</p>
                    <table class="table table-striped m-3">
                        <thead class="fw-bold">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã sinh viên</th>
                                <th scope="col">Tên sinh viên</th>
                                <th scope="col">Giới tính</th>
                                <th scope="col">Số điện thoại liên lạc</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var s in students)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@s.StudentID</td>
                                    <td><a asp-controller="User" asp-action="StudentDetail" asp-route-id="@s.StudentID">@s.FullName</a></td>
                                    @{
                                        if(s.Gender == true)
                                        {
                                            <td>Nam</td>
                                        }
                                        else
                                        {
                                            <td>Nữ</td>
                                        }
                                    }
                                    <td>@s.PhoneNumber</td>
                                    <td>
                                        <button type="button" class="btn btn-secondary" 
                                            data-bs-toggle="modal" 
                                            data-bs-target="#moveStudent"
                                            data-student-id="@s.StudentID"
                                            data-student-name="@s.FullName">
                                            Chuyển phòng
                                        </button>
                                    </td>
                                    <td>
                                        <a asp-controller="Room" asp-action="RemoveStudent" asp-route-id="@s.StudentID" class="btn btn-danger">Xóa khỏi phòng</a>
                                    </td>
                                </tr>
                                i = i + 1;
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row g-5 w-100">
                    <p class="fw-bold p-4">Danh sách thiết bị</p>
                    <table class="table table-striped m-3">
                        <thead class="fw-bold">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Tên thiết bị</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Tình trạng</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var e in equipments)
                            {
                                <tr>
                                    <td>@j</td>
                                    <td>@e.EquipmentName</td>
                                    <td>@e.Price VND</td>
                                    <td>@e.Quantity</td>
                                    <td>@e.Condition</td>
                                    <td><a asp-controller="Room" asp-action="RemoveEquipment" asp-route-id="@e.EquipmentID" class="btn btn-danger">Xóa thiết bị</a></td>
                                </tr>
                                j = j + 1;
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row m-5">
                    <div class="col-3"></div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success m-2 w-75" data-bs-toggle="modal" data-bs-target="#addStudent">Thêm sinh viên</button>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success m-2 w-75" data-bs-toggle="modal" data-bs-target="#addEquipment">Thêm thiết bị</button>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-success m-2 w-75">Lưu thay đổi</button>
                    </div>
                    <div class="col-3"></div>
                </div>
            </form>
            <div class="text-danger fst-italic">
                <p>*Chỉ có thể thay đổi được tên phòng, tình trạng phòng và ghi chú</p>
                <p>*Nhớ lưu lại những thay đổi của bạn</p>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addStudent">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thêm sinh viên vào phòng @Model.RoomName</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form asp-controller="Room" asp-action="AddStudentToRoom">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-floating mb-4">
                        <input type="text" class="form-control" id="studentID" placeholder="">
                        <label for="floatingPassword">Mã sinh viên</label>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-success" type="submit">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="addEquipment">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thêm thiết bị vào phòng @Model.RoomName</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form asp-controller="Room" asp-action="AddEquipmentToRoom">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="equipment"
                                aria-label="Floating label select example">
                            @foreach (var e in equipments_add)
                            {
                                <option value="@e.EquipmentName">@e.EquipmentName</option>
                            }
                        </select>
                        <label for="floatingSelect">Thiết bị</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="quantity" placeholder="">
                        <label for="quantity">Số lượng</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="status" placeholder="">
                        <label for="status">Tình trạng</label>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="moveStudent">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                @await Component.InvokeAsync("BuildingSelectList")
                @await Component.InvokeAsync("RoomSelectList")
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-success">Đồng ý</button>
            </div>

        </div>
    </div>
</div>
<script>
    var moveStudentModal = document.getElementById('moveStudent');
    moveStudentModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget;

        // Extract info from data-* attributes
        var studentId = button.getAttribute('data-student-id');
        var studentName = button.getAttribute('data-student-name');

        // Update the modal title
        var modalTitle = moveStudentModal.querySelector('.modal-title');
        modalTitle.textContent = 'Chuyển ' + studentName + ' đến phòng khác';

        // Use studentId in your modal, for example, set it in a hidden input or display it
        var studentIdInput = moveStudentModal.querySelector('#studentIdInput');
        studentIdInput.value = studentId;
    });
</script>
