@model IEnumerable<Manager.Models.Room>

<div class="container-fluid position-relative d-flex p-0">
    <div class="col m-5">
        <div class="row">
            <div class="col-5">
                <div class="card border-0">
                    <div class="bg-light rounded p-4 mb-3" style="height: 150px; overflow-y: auto;">
                        <h6 class="mb-4">Tìm kiếm</h6>
                        <form class="d-none d-md-flex ms-4">
                            <div class="col-4"><input class="form-control bg-light mt-2 me-3 w-100" type="search" placeholder="Tên phòng, tòa nhà"></div>
                            <button type="button" class="btn btn-secondary m-2">Tìm theo phòng</button>
                            <button type="button" class="btn btn-secondary m-2">Tìm theo tòa nhà</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0">
                    <div class="bg-light rounded p-4 mb-3" style="height: 150px; overflow-y: auto;">
                        <h6 class="mb-4">Chức năng</h6>
                        <form class="d-none d-md-flex ms-4">
                            <button type="button" class="btn btn-secondary m-2">Lọc phòng còn trống</button>
                            <button type="button" class="btn btn-secondary m-2">Lọc phòng đang sử dụng</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-0">
                    <div class="bg-light rounded p-4 mb-3" style="height: 150px; overflow-y: auto;">
                        <h6 class="mb-4">Sắp xếp</h6>
                        <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example">
                            <option disabled selected>--Chọn phương thức sắp xếp--</option>
                            <option >Sắp xếp phòng theo thứ tự từ tăng dần</option>
                            <option value="1">Sắp xếp phòng theo thứ tự từ giảm dần</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card border-0">
                <div class="bg-light rounded h-100 p-4">
                    <h4 class="m-2">Danh sách phòng</h4>
                    <table class="table table-striped">
                        <thead class="fw-bold">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Tên phòng</th>
                                <th scope="col">Tòa</th>
                                <th scope="col">Số sinh viên</th>
                                <th scope="col">Trưởng phòng</th>
                                <th scope="col">Trạng thái phòng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{var i = 1;}
                            @foreach(var r in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>
                                        <a asp-action="RoomDetail" asp-controller="Room" asp-route-id="@r.RoomID">
                                            @r.RoomName
                                        </a>
                                    </td>
                                    <td>@r.BuildingName</td>
                                    <td>@r.NumberOfStudent</td>
                                    <td>@r.LeaderName</td>
                                    <td>@r.RoomStatusName</td>
                                </tr>
                                i = i + 1;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>