@model DormitoryUser.Models.Profile

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Thông tin sinh viên</h1>
        </div>
        <div class="section-body">
            <div class="card">
                <div class="card-header d-block">
                    <h4>Lưu ý : <span>- Sinh viên chú ý thông tin chính xác, phát hiện sai vui lòng liên hệ bộ phận hỗ trợ</span><span class="text-danger">(*)</span>.</h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="card bg-light rounded h-auto w-100 p-4">
                            <div class="col">
                                <form asp-action="StudentDetail">
                                    <div class="row g-5">
                                        <div class="col-md-12 col-lg-6 col-xl-4">   
                                            <div class="form-item">
                                                <label class="form-label my-3 fw-bold">Họ và tên<span class="text-danger"> (*)</span></label>
                                                <input class="form-control" name="FullName" value="@Model.FullName" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-6 col-xl-4">
                                            <div class="form-item">
                                                <label class="form-label my-3">Mã sinh viên<span class="text-danger"> (*)</span></label>
                                                <input class="form-control" value="@Model.StudentID" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-6 col-xl-4">
                                            <div class="form-item">
                                                <label class="form-label my-3">Phòng ở hiện tại<span class="text-danger"> (*)</span></label>
                                                <input class="form-control" value="@Model.RoomName" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-5">
                                        <div class="col-md-12 col-lg-6 col-xl-4">
                                            <div class="form-item">
                                                <label class="form-label my-3 fw-bold">Ngày sinh<span class="text-danger"> (*)</span></label>
                                                <input type="date" class="form-control" value="@Model.BirthDate" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-6 col-xl-4">
                                            <div class="form-item">
                                                <label class="form-label my-3 fw-bold">Giới tính</label>
                                                <div class="d-flex ml-5">
                                                    <div class="me-3">
                                                        <input class="form-check-input" type="radio" name="Gender" value="Nam" @(Model.Gender == true ? "checked" : "") readonly>
                                                        <label class="form-check-label">Nam</label>
                                                    </div>
                                                    <div class="ml-5">
                                                        <input class="form-check-input" type="radio" name="Gender" value="Nữ" @(Model.Gender == false ? "checked" : "") readonly>
                                                        <label class="form-check-label">Nữ</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-6 col-xl-4">
                                            <div class="form-item">
                                                <label class="form-label my-3">Số điện thoại<span class="text-danger"> (*)</span></label>
                                                <input class="form-control" value="@Model.PhoneNumber" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-5">
                                        <div class="col-md-12 col-lg-6 col-xl-4">
                                            <div class="form-item">
                                                <label class="form-label my-3 fw-bold">Email<span class="text-danger"> (*)</span></label>
                                                <input class="form-control" value="@Model.Email" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-6 col-xl-4">
                                            <div class="form-item">
                                                <label class="form-label my-3">Quê quán</label>
                                                <input class="form-control" value="@Model.ProvinceName" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-6 col-xl-4">
                                            <div class="form-item">
                                                <label class="form-label my-3">Số CMND/Thẻ căn cước</label>
                                                <input class="form-control" value="@Model.InsuranceNumber" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-5">
                                        <div class="col-md-12 col-lg-6 col-xl-4">
                                            <div class="form-item">
                                                <label class="form-label my-3 fw-bold">Số BHXH</label>
                                                <input class="form-control" value="@Model.InsuranceNumber" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-6 col-xl-4">
                                            <div class="form-item">
                                                <label class="form-label my-3">Số điện thoại gia đình<span class="text-danger"> (*)</span></label>
                                                <input class="form-control" value="@Model.RelativePhoneNumber" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-6 col-xl-4">
                                            <div class="form-item">
                                                <label class="form-label my-3">Địa chỉ báo tin<span class="text-danger"> (*)</span></label>
                                                <input class="form-control" value="@Model.RelativeAddress" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <button></button>
                </div>
            </div>
        </div>
    </section>
</div>
