@model IEnumerable<Manager.Models.Student>

@{
    ViewData["Title"] = "Danh sách sinh viên";
}

<div class="container-fluid position-relative d-flex p-0">
    <div class="col m-5">
        <div class="row">
            <div class="col-6">
                <div class="card border-0">
                    <div class="bg-light rounded p-4 mb-3" style="height: 150px; overflow-y: auto;">
                        <h6 class="mb-4">Tìm kiếm</h6>
                        <form method="get" action="/User/SearchStudents" class="d-none d-md-flex ms-4">
                            <div class="col-4">
                                <input name="searchText" class="form-control bg-white border-0 mt-2 me-3" type="search" placeholder="Search">
                            </div>
                            <button type="submit" name="searchType" value="msv" class="btn btn-secondary m-2">Tìm theo MSV</button>
                            <button type="submit" name="searchType" value="name" class="btn btn-secondary m-2">Tìm theo tên</button>
                            <button type="submit" name="searchType" value="room" class="btn btn-secondary m-2">Tìm theo phòng</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card border-0">
                    <div class="bg-light rounded p-4 mb-3" style="height: 150px; overflow-y: auto;">
                        <h6 class="mb-4">Sắp xếp</h6>
                        <select class="form-select form-select-sm mb-3" aria-label="" onchange="sortStudents(this.value)">
                            <option disabled selected>--Chọn phương thức sắp xếp--</option>
                            <option value="1">Sắp xếp tên theo thứ tự từ A đến Z</option>
                            <option value="2">Sắp xếp tên theo thứ tự từ Z đến A</option>
                            <option value="3">Sắp xếp MSV theo thứ tự tăng dần</option>
                            <option value="4">Sắp xếp MSV theo thứ tự giảm dần</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card border-0">
                <div class="bg-light rounded h-100 p-4">
                    <h4 class="m-2">Danh sách sinh viên</h4>
                    <table class="table table-striped">
                        <thead class="fw-bold">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã sinh viên</th>
                                <th scope="col">Họ và tên</th>
                                <th scope="col">Phòng</th>
                                <th scope="col">Tòa</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var i = 1;
                            }
                            @foreach(var s in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>
                                        <a asp-action="StudentDetail" asp-controller="User" asp-route-id="@s.StudentID">
                                            @s.StudentID
                                        </a>
                                    </td>
                                    <td>@s.FullName</td>
                                    <td>@s.RoomName</td>
                                    <td>@s.BuildingName</td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

