@model IEnumerable<Manager.Models.RoomType>

<div class="container-fluid position-relative d-flex p-0">
    <div class="col m-5">
        <div class="row">
            <div class="col-6">
                <div class="card border-0">
                    <div class="bg-light rounded p-4 mb-3" style="height: 150px; overflow-y: auto;">
                        <h6 class="mb-4">Tìm kiếm</h6>
                        <form class="d-none d-md-flex ms-4">
                            <div class="col-4"><input class="form-control bg-light mt-2 me-3" type="search" placeholder="Search"></div>
                            <button type="button" class="btn btn-secondary m-2">Tìm theo mã loại phòng</button>
                            <button type="button" class="btn btn-secondary m-2">Tìm theo tên loại phòng</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card border-0">
                    <div class="bg-light rounded p-4 mb-3" style="height: 150px; overflow-y: auto;">
                        <h6 class="mb-4">Sắp xếp</h6>
                        <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example">
                            <option disabled selected>--Chọn phương thức sắp xếp--</option>
                            <option>Sắp xếp tên loại phòng theo thứ tự từ A đến Z</option>
                            <option value="1">Sắp xếp tên loại phòng theo thứ tự từ Z đến A</option>
                            <option value="1">Sắp xếp loại phòng theo sức chứa</option>
                            <option value="1">Sắp xếp loại phòng theo giá</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card border-0">
                <div class="bg-light rounded h-100 p-4">
                    <h4 class="m-2">Danh sách loại phòng</h4>
                    <table class="table table-striped">
                        <thead class="fw-bold">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã loại phòng</th>
                                <th scope="col">Tên loại phòng</th>
                                <th scope="col">Sức chứa</th>
                                <th scope="col">Giá phòng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{var i = 1;}
                            @foreach(var rt in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@rt.RoomTypeID</td>
                                    <td>@rt.RoomTypeName</td>
                                    <td>@rt.Capacity</td>
                                    <td>@rt.RoomPrice VND</td>
                                </tr>
                                i = i + 1;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<a asp-controller="Admin" asp-action="AddRoomType" class="btn btn-success position-fixed" style="bottom: 40px; right: 40px;">
    <i class="fa fa-solid fa-plus me-1"></i> Tạo loại phòng
</a>