@model IEnumerable<Manager.Models.Service>

<div class="container-fluid position-relative d-flex p-0">
    <div class="col m-5">
        <div class="row">
            <div class="col-6">
                <div class="card border-0">
                    <div class="bg-light rounded p-4 mb-3" style="height: 150px; overflow-y: auto;">
                        <h6 class="mb-4">Tìm kiếm</h6>
                        <form class="d-none d-md-flex ms-4">
                            <div class="col-4"><input class="form-control bg-light mt-2 me-3" type="search" placeholder="Search"></div>
                            <button type="button" class="btn btn-secondary m-2">Tìm theo mã dịch vụ</button>
                            <button type="button" class="btn btn-secondary m-2">Tìm theo tên dịch vụ</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card border-0">
                    <div class="bg-light rounded p-4 mb-3" style="height: 150px; overflow-y: auto;">
                        <h6 class="mb-4">Sắp xếp</h6>
                        <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example">
                            <option disabled selected>--Chọn phương thức sắp xếp--</option>
                            <option>Sắp xếp tên dịch vụ theo thứ tự từ A đến Z</option>
                            <option value="1">Sắp xếp tên dịch vụ theo thứ tự từ Z đến A</option>
                            <option value="1">Sắp xếp dịch vụ theo giá giảm dần</option>
                            <option value="1">Sắp xếp dịch vụ theo giá tăng dần</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card border-0">
                <div class="bg-light rounded h-100 p-4">
                    <h4 class="m-2">Danh sách dịch vụ</h4>
                    <table class="table table-striped">
                        <thead class="fw-bold">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã dịch vụ</th>
                                <th scope="col">Tên dịch vụ</th>
                                <th scope="col">Đơn vị tính</th>
                                <th scope="col">Giá dịch vụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var i = 1;
                                foreach(var s in Model)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@s.ServiceID</td>
                                        <td>@s.ServiceName</td>
                                        <td>@s.Unit</td>
                                        <td>@s.Price</td>
                                    </tr>
                                    i = i + 1;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<a asp-controller="Admin" asp-action="AddService" class="btn btn-success position-fixed" style="bottom: 40px; right: 40px;">
    <i class="fa fa-solid fa-plus me-1"></i> Tạo dịch vụ
</a>