@model IEnumerable<Manager.Models.Request>

<div class="container-fluid position-relative d-flex p-0">
    <div class="col m-5">
        <div class="row">
            <div class="col-4">
                <div class="card border-0">
                    <div class="bg-light rounded p-4 mb-3" style="height: 150px; overflow-y: auto;">
                        <h6 class="mb-4">Tìm kiếm</h6>
                        <form class="d-none d-md-flex ms-4">
                            <div class="col-4"><input class="form-control bg-light mt-2 me-3" type="search" placeholder="Search"></div>
                            <button type="button" class="btn btn-secondary m-2">Tìm theo tên</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0">
                    <div class="bg-light rounded p-4 mb-3" style="height: 150px; overflow-y: auto;">
                        <h6 class="mb-4">Lọc</h6>
                        <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example">
                            <option disabled selected>--Chọn phương pháp lọc--</option>
                            <option>Yêu cầu chưa xử lý</option>
                            <option value="1">Yêu cầu đã xử lý</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0">
                    <div class="bg-light rounded p-4 mb-3" style="height: 150px; overflow-y: auto;">
                        <h6 class="mb-4">Sắp xếp</h6>
                        <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example">
                            <option disabled selected>--Chọn phương thức sắp xếp--</option>
                            <option>Sắp xếp tên theo thứ tự từ A đến Z</option>
                            <option value="1">Sắp xếp tên theo thứ tự từ Z đến A</option>
                            <option value="2">Sắp xếp MSV theo thứ tự tăng dần</option>
                            <option value="3">Sắp xếp MSV theo thứ tự giảm dần</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card border-0">
                <div class="bg-light rounded h-100 p-4">
                    <h4 class="m-2">Danh sách phiếu yêu cầu</h4>
                    <table class="table table-striped">
                        <thead class="fw-bold">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã phiếu hỗ trợ</th>
                                <th scope="col">Họ và tên sinh viên yêu cầu</th>
                                <th scope="col">Loại yêu cầu</th>
                                <th scope="col">Ngày gửi yêu cầu</th>
                                <th scope="col">Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{var i = 1;}
                            @foreach(var r in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>
                                        <a asp-action="Detail" asp-controller="SupportRequest" asp-route-id="@r.RequestID">
                                            @r.RequestID
                                        </a>
                                    </td>
                                    <td>@r.StudentName</td>
                                    <td>@r.RequestTypeName</td>
                                    <td>@r.RequestSentDate</td>
                                    <td>@r.Status</td>
                                </tr>
                                i = i + 1;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>