@model Manager.Models.RegistrationVM

@{
    ViewData["Title"] = "Đơn đăng ký";
}

@{
    var fullName = Model.StudentName ?? ""; // Lấy giá trị từ Model và đảm bảo không bị null

    var nameParts = fullName.Split(' '); // Tách chuỗi theo khoảng trắng

    var firstName = nameParts.Length > 0 ? nameParts[nameParts.Length - 1] : ""; // Lấy từ cuối cùng làm FirstName

    var lastName = nameParts.Length > 1 ? string.Join(" ", nameParts.Take(nameParts.Length - 1)) : ""; // Ghép các từ còn lại thành LastName
}

<div class="container-fluid position-relative d-flex p-0">
    <div class="col m-5">
        <div class="card bg-light rounded h-100 p-4">
            <form asp-action="StudentDetail" asp-controller="User">
                <div class="row g-5">
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Số CMND/Thẻ căn cước</label>
                            <input class="form-control" value="@Model.IDCard">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Ngày cấp CMND</label>
                            <input type="date" class="form-control" id="dateInput" value="@Model.DateOfIssueOfIDCard?.ToString("yyyy-MM-dd")">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Nơi cấp CMND</label>
                            <input class="form-control" value="Công an tỉnh @Model.PlaceOfIssueOfIDCard">
                        </div>
                    </div>
                </div>
                    <div class="row g-5">
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Họ & Tên lót</label>
                                <input class="form-control" value="@lastName">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Tên </label>
                                <input class="form-control" value="@firstName">
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-check">
                                <label class="form-label my-3 fw-bold">Giới tính</label>
                                @{
                                    if (Model.Gender == true)
                                    {
                                        <div class="row">
                                            <div class="col-2">
                                                <input class="form-check-input" type="radio" name="gender"
                                                       id="male" value="option1" checked>
                                                <label class="form-check-label" for="male">
                                                    Nam
                                                </label>
                                            </div>
                                            <div class="col-2">
                                                <input class="form-check-input" type="radio" name="gender"
                                                       id="female" value="option2">
                                                <label class="form-check-label" for="female">
                                                    Nữ
                                                </label>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="col-2">
                                                <input class="form-check-input" type="radio" name="gender"
                                                       id="male" value="option1">
                                                <label class="form-check-label" for="male">
                                                    Nam
                                                </label>
                                            </div>
                                            <div class="col-2">
                                                <input class="form-check-input" type="radio" name="gender"
                                                       id="female" value="option2" checked>
                                                <label class="form-check-label" for="female">
                                                    Nữ
                                                </label>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row g-5">
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Dân tộc</label>
                                <input class="form-control" value="@Model.Ethnicity">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Tôn giáo</label>
                                <input class="form-control" value="@Model.Religion">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Quốc tịch</label>
                                <input class="form-control" value="@Model.Nationality">
                            </div>
                        </div>
                    </div>

                    <div class="row g-5">
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Ngày sinh</label>
                                <input type="date" class="form-control" id="dateInput" value="@Model.BirthDate?.ToString("yyyy-MM-dd")">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Email</label>
                                <input class="form-control" value="@Model.Email">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Số điện thoại</label>
                                <input class="form-control" value="@Model.PhoneNumber">
                            </div>
                        </div>
                    </div>
                    <div class="row g-5">
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Tỉnh/Thành phố</label>
                                <input class="form-control" value="@Model.ProvinceName">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Quận/Huyện</label>
                                <input class="form-control" value="@Model.District">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Phường/Xã</label>
                                <input class="form-control" value="@Model.Ward">
                            </div>
                        </div>
                    </div>
                    <div class="row g-5">
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Số nhà, tên đường</label>
                                <input class="form-control" value="@Model.Street">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Diện chính sách</label>
                                <input class="form-control" value="@Model.PolicyCoverage">
                            </div>
                        </div>
                    </div>
                    <div class="row g-5">
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Mã số BHYT</label>
                                <input class="form-control" value="@Model.InsuranceNumber">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Ngày cấp BHYT</label>
                                <input type="date" class="form-control" id="dateInput" value="@Model.NgayCapBHXH?.ToString("yyyy-MM-dd")">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Giá trị sử dụng từ ngày</label>
                                <input type="date" class="form-control" id="dateInput" value="@Model.GiaTriSuDungTuNgay?.ToString("yyyy-MM-dd")">
                            </div>
                        </div>
                    </div>
                    <div class="row g-5">
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Thời điểm đủ 05 năm liên tục từ</label>
                                <input type="date" class="form-control" id="dateInput" value="@Model.ThoiDiem5NamLienTuc?.ToString("yyyy-MM-dd")">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Tỉnh</label>
                                <input class="form-control" value="@Model.TenTinhCapBHXH">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Khám bệnh ban đầu</label>
                                <input class="form-control" value="@Model.KhamBenhBanDau">
                            </div>
                        </div>
                    </div>
                    <div class="row g-5">
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Tên người thân</label>
                                <input class="form-control" value="@Model.RelativeName">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Số điện thoại người thân</label>
                            <input class="form-control" value="@Model.RelativePhoneNumber">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Địa chỉ người thân</label>
                            <input class="form-control" value="@Model.RelativeAddress">
                            </div>
                        </div>
                    </div>
                    <div class="row g-5">
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Ảnh thẻ 4x6</label>
                                <div class="row"><img class="w-75" src="~/img/students/@Model.AnhThe4x6" /></div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Ảnh CMND mặt trước</label>
                                <div class="row"><img class="w-75" src="~/img/students/@Model.AnhCMNDMatSau" /></div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Ảnh CMND mặt sau</label>
                                <div class="row"><img class="w-75" src="~/img/students/@Model.AnhCMNDMatSau" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-5">
                        <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="form-item">
                                <label class="form-label my-3 fw-bold">Ảnh BHYT mặt trước</label>
                                <div class="row"><img class="w-75" src="~/img/students/@Model.AnhBHYTMatTruoc" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col-4"></div>
                        <div class="col-2">
                            <a asp-controller="Registration" asp-action="Registrations" class="btn btn-success">Quay lại</a>
                        </div>
                        <div class="col-4"></div>
                    </div>
            </form>
        </div>
    </div>
</div>
